<!DOCTYPE html>
<html>

<head>
    <title>Index Title</title>
    <link rel="stylesheet" type="text/css" href="/vendor/jasmine-core/lib/jasmine-core/jasmine.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>

<section>
    <nav class="navbar navbar-default navbar-fixed-top">
    </nav>
    
    <div class="container">
    </div>
</section>

<footer>
</footer>


<script src="/vendor/traceur/traceur.js"></script>
<script src="/vendor/jasmine-core/lib/jasmine-core/jasmine.js"></script>
<script src="/vendor/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
<script src="/vendor/jasmine-core/lib/jasmine-core/boot.js"></script>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/LoadLayout.js"></script>
<script src="/js/ES5/Index_ES6.js"></script>

</html>